.logo{
    width: 72px;
    height: 72px;
  }
  

  .Home{
    background-image: url('../assest/bg_pixel_2.jpg');
    background-size: cover;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background-color: rgba(0, 0, 0, 0);
    
    
  }
  
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    position: relative;
    border-radius: 50px;
    flex: 1;
    padding: 0px 400px;
    font-family: 'buble-pixel';
  }

  .tab_navbar{
    
    border: none;
    color: #9d4edd84;
    font-family: 'buble-pixel';
    font-size: 20px;
    transition: 0.5s;
    padding:5px;
    cursor: pointer;
  }

  

  .active_tab{
    color: #9d4edd;
    animation: bounce 0.5s;
    
  }



  .line{
    height: 3px;
    width: 0;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #E76F51;
    transition: all 0.5s ease;
  }
  
  .user{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: black;
    color:white;
    border:2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-name-short{
    font-size: 30px;
    margin: 0;
  }
  
  .container{
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
  
  }
  
  
  .heading_1 > p{
    font-size: 350px;
    margin: 0;
    font-family: 'Anton';
    color:white
  }
  .heading_2,.heading_1,.heading_3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
  }
  .heading_2 >p{
    font-size: 330px;
    margin: 0;
    font-family: 'Anton';
    padding-left: 30px;
    padding-right: 30px;
    color: #264653;
  
  }
  .heading_2 >p:nth-child(2),.heading_2 >p:nth-child(4){
    margin-bottom: 100px;
  }
  
  .heading_3 >p{
    font-size: 330px;
    margin: 0;
    font-family: 'Anton';
    padding-left: 30px;
    padding-right: 30px;
    color: #264653;
  
  }
  .heading_3 >p:nth-child(2),.heading_3 >p:nth-child(4){
    margin-bottom: 100px;
  }
  
  
  
  
  .play{
    margin-top: 100px;
  }
  .Wel{
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    display: flex; 
    flex-direction: column;
    align-items: center;
    
  }
  .Wel > h1:nth-child(1){
    padding:10px;
    margin: 0;
    font-family:'buble-pixel';
    font-size: 150px;
    display: block;
    height: 100%;
    text-align: center;
    color:white;
  }
  .Wel > h1:nth-child(2){
    padding:10px;
    margin: 0;
    font-family:'buble-pixel';
    font-size: 150px;
    display: block;
    height: 100%;
    text-align: center;
    color:#9d4edd;
  }
  .Wel > p{
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    
  }
  

  @font-face{
    font-family: 'buble-pixel';
    src: url("../assest/04B_30__.TTF");
    
  }


  .options_mode{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    
  }
  
  .close{
    position: absolute;
    right: 0;
    top:0;
    padding:20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: rgba(245, 222, 179, 0);
    font-family: 'buble-pixel';

  }
  
  

.input_timeout{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border:none;
  background-color: #d9d9d956;
  outline-style: none;
  padding:5px;
  border-radius: 20px;
 
  
}

.footer{
  background-color: black;
  height: 200px;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.op{
  color: white;
  text-align: left;
  font-family: "VT323", monospace;
  font-size: 30px;
  margin: 5px;
  text-decoration: none;
}

#tutorial{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding:20px 20px;
  border-radius: 20px;
}
.tip{
  font-family: "VT323", monospace;
  font-size: 20px;
  text-align: justify;
  width: 500px;
  margin: 0;
}

.video-tutorial{
  display: block;
  width: 500px;
  border-radius: 20px;
}

/*=============== Responsive ================*/

@media only screen and (max-width: 439px){
  .Wel > h1:nth-child(1),
  .Wel > h1:nth-child(2) {
    font-size: 85px;
  }

  .navbar{
    padding: 0px 0px;
  }

  .tab_navbar{
    font-size: 12px;
  }
  
  .logo{
    width: 50px;
    height: 50px;
  }

  .user{
    width: 50px;
    height: 50px;
  }

  #tutorial > video{
    width: 250px;
  }

  .video-tutorial{
    width: 250px;
  }

  .tip{
    width: 250px;
  }

  .user-name-short{
    font-size: 15px;
  }
}








